<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Inter', 'sans-serif'],
          },
        }
      }
    }
  </script>
  {% block head %}{% endblock head %}
  <style>
    .h-color {
      background: rgba(255, 255, 255, 0.3);
    }
  
    header {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      transition: all 0.5s;
      z-index: 997;
    }
  
    header.header-scrolled {
      transition: all 0.5s;
      background-color: rgba(34, 34, 34, 0.9);
    }
  </style>
</head>
<body>
  <header class="md:px-20 text-white w-full">
    <div id="header-top" class="flex justify-between py-1">
      <ul id="header-top-left" class="flex space-x-5 text-sm">
        <li></li>
        <li><a href="">Visit Us</a></li>
        <li><a href="">Buy Tickets</a></li>
      </ul>
      <ul id="header-top-right" class="flex space-x-3">
        <li>
          <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
        </li>
        <li>
          <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
        </li>
        <li>
          <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
        </li>
        <li>
          <a href=""><ion-icon name="map"></ion-icon></a>
        </li>
      </ul>
    </div>

    <nav
      class="flex justify-between items-center py-5 px-10 text-sm font-semibold uppercase h-color z-20"
      id="navbar"
    >
      <h3 class="text-yellow-100 text-2xl self-start " >MAGICAL TRAVEL</h3>
      <ul class="md:flex  hidden space-x-10 text-xs">
        <li></li>
        <li><a class="hover:text-yellow-500" href="{% url 'home' %}">Home</a></li>
        <li><a class="hover:text-yellow-500" href="{% url 'about' %}">About</a></li>
        <li><a class="hover:text-yellow-500" href="{% url 'packages' %}">Packages</a></li>
        <li><a class="hover:text-yellow-500" href="{% url 'hotels' %}">Hotels</a></li>
        <li><a class="hover:text-yellow-500" href="{% url 'contact' %}">Contact Us</a></li>
      </ul>


      <button id="mobileNavToggler" class="md:hidden self-start">
        <ion-icon name="menu-outline" class="text-3xl "></ion-icon>
      </button>
    </nav>

    
    <ul id="mobileNav" class="md:hidden space-x-10  duration-500  transition-all">
      <li></li>
      <li class="my-3"><a class=" hover:text-yellow-500" href="{% url 'home' %}">Home</a></li>
      <li class="my-3"><a class=" hover:text-yellow-500" href="{% url 'about' %}">About</a></li>
      <li class="my-3"><a class=" hover:text-yellow-500" href="{% url 'packages' %}">Packages</a></li>
      <li class="my-3"><a class=" hover:text-yellow-500" href="{% url 'hotels' %}">Hotels</a></li>
      <li class="my-3"><a class=" hover:text-yellow-500" href="{% url 'contact' %}">Contact Us</a></li>
    </ul>

  </header>


  {% block content %}{% endblock content %}


  <!--Footer-->
  <footer class="bg-[rgb(32,32,32)] text-white md:py-20 py-10 ">
    <div class="footer-top flex md:px-10 flex-wrap px-5 md:px-10 space-y-5 md:space-y-0">
      <div class="md:w-1/3 w-full md:px-10">
        <h4 class="uppercase font-bold text-lg mb-5">About Agency</h4>
        <p class="text-[#777777]">The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point</p>
      </div>
      <div class="md:w-1/3 w-full md:px-10">
        <h4 class="uppercase font-bold text-lg mb-5">Navigation Links</h4>
        <nav class="flex justify-between">
          <ul>
            <li class="mb-3 hover:text-yellow-500 text-[#777777]"><a href="{% url 'home' %}">Home</a></li>
            <li class="mb-3 hover:text-yellow-500 text-[#777777]"><a href="{% url 'about' %}">About</a></li>
            <li class="mb-3 hover:text-yellow-500 text-[#777777]"><a href="{% url 'packages' %}">Package</a></li>
          </ul>
          <ul>
            <li class="mb-3 hover:text-yellow-500 text-[#777777]"><a href="{% url 'hotels' %}">Hotels</a></li>
            <li class="mb-3 hover:text-yellow-500 text-[#777777]"><a href="{% url 'contact' %}">Contact Us</a></li>
          </ul>
        </nav>
      </div>

      <div class="md:w-1/3 w-full md:px-10">
        <h4 class="uppercase font-bold text-lg mb-5">Newsletter</h4>
        <p class="text-[#777777]">For business professionals caught between high OEM price and mediocre print and graphic output.</p>
        <form class="text-[#777777]   mt-3 flex items-center" action="">
          <input type="text" class="w-11/12 border border-[#777777]  px-2 py-2 outline-none bg-transparent placeholder:text-[#777777]" name="" id="" placeholder="Email Address">
          <button type="submit" class="flex items-center justify-center">
            <ion-icon name="navigate-outline" class="p-2  border border-yellow-500 text-white  text-2xl  bg-yellow-500 "></ion-icon>
          </button>
        </form>
      </div>
    </div>
    <div class="footer-bottom"></div>
  </footer>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
<script>


  //Inital State
  var scroll = $(window).scrollTop();
  if (scroll <= 100) {
    $("header").removeClass("header-scrolled");
    $("#header-top").removeClass("hidden");
    $("#navbar").addClass("h-color");
  } else {
    $("#navbar").removeClass("h-color");
    $("header").addClass("header-scrolled ");
    $("#header-top").addClass("hidden");
  }
  
  //When  Scroll performed
  $(window).scroll(function () {
    scroll = $(window).scrollTop();
    if (scroll <= 100) {
      $("header").removeClass("header-scrolled");
      $("#header-top").removeClass("hidden");
      $("#navbar").addClass("h-color");
    } else {
      $("#navbar").removeClass("h-color");
      $("header").addClass("header-scrolled");
      $("#header-top").addClass("hidden");
    }
  });


  $('#mobileNavToggler').click(()=>{
    $('#mobileNav').toggleClass("hidden")
  })
</script>

  {% block js %}{% endblock js %}
</body>

</html>